name: CI
"on":
  push:
  schedule:
  - cron: '01 13 * * SAT'
jobs:
  buildx:
    runs-on: windows-2022
    steps:
    - name: Get size of windows image
      uses: Amadevus/pwsh-script@v2
      id: get-size-of-windows-image
      with:
        script: |
          docker images
    - run: echo "${{ steps.get-size-of-windows-image.outputs.result }}"
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        use: true
    - name: Login to dockerhub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build
      run: |
        docker build . -f Dockerfile -t docker.io/${{ secrets.DOCKER_USERNAME }}/wingtonight:github
    - name: Push
      run: |
        docker image push docker.io/${{ secrets.DOCKER_USERNAME }}/wingtonight:github

